{% extends "::layout.html.twig" %}
{% block title %}{{ parent() }} :: Upload de fichier {% endblock %}
{% block titlebar_title %} Upload de fichier {% endblock %}
{% block titlebar_ariane %} {{ parent() }} <span>Upload de fichier</span> {% endblock %}

{% block slider %}{% endblock %}
{% block content_type %}{% endblock%}

{% block content %}


<div class="block_contact_us_type_1">
    <div class="send_message">
        <h4>Mes uploads</h4>
        <p class="text_subtitle_1">Uploadez vos fichiers et retrouvez-les dans la rubrique "Consultation de mes uploads" !</p>

 <p class="tac">{{ app.session.getFlash('info') }}</p>

            {% include "MakinMindResourceBundle:Upload:upload_content.html.twig" %}

    </div>
</div>






<p>Le formulaire suivant vous permet d'uploader les fichiers que vous souhaitez.</p>
	{{ form_errors(form) }}
	<form action="{{ path('resource_homepage') }}" method="post" {{ form_enctype(form) }}>

	    {{ form_widget(form) }}

	    <input type="submit" value="Upload" />
	</form>

{% endblock %} 