{% extends "::layout.html.twig" %}
{% block title %}{{ parent() }} :: Editeur de text{% endblock %}
{% block titlebar_title %}Editeur en ligne{% endblock %}
{% block titlebar_ariane %}
	{{ parent() }} <span>Editeur en ligne</span>
{% endblock %}
{% block slider %}{% endblock %}
{% block content_type %} {{parent()}} {% endblock%}

{% block resources %}
{{parent()}}
<link rel="stylesheet" href="layout/style.css" type="text/css">
<script src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="layout/js/jquery.js"></script>
<script type="text/javascript" src="{{ asset('bundles/makinmindeditor/js/require.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/makinmindeditor/js/ace/src-min/ace.js') }}"></script>


<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

<!-- sert à charger un fichier, après double clique dans le tree -->
<script type="text/javascript">$(document).bind('yourproject', function(e,eventData) {
          window.location=eventData;
    });</script> 
{% endblock %}


{% block content %}
	<h3 class="heading_w_icon">Editeur du projet {{project.name}}</h3>
	<h5>{{file | replace({'FOLDER_SEPARATOR' : '/'})}}</h5>
	<!-- Form de textarea  -->
<style type="text/css" media="screen">
    #editor { 
    position: relative;
    width: 600px;
    height: 400px;
    }
</style>
		<div hidden="true" id="editable">{{editable}}</div>
		<p id="fileName" hidden="true">{{file}}</p>
		<div id="editor">{{data}}</div>
		<div class="separator" style="height:37px;"></div>
		{% if editable %}
		<div>
			<button class="btn">Sauvegarder</button>
		</div>
		{% endif %}
	<script type="text/javascript">
		requirejs(["{{ asset('bundles/makinmindeditor/js/ace/src-min/modelist.js')}}"], function(modelist) {
			var editor = ace.edit("editor");
			var mode = modelist.getModeFromPath("{{file | replace({'FOLDER_SEPARATOR' : '/'})}}");
    		editor.getSession().setMode(mode.mode);
    		//if he has no right
    		var editable = $("#editable").text(); 
    		if(!editable)
    			editor.setReadOnly(true); 

			$(".btn").click(function(){
				var filename = $('#fileName').text();
				var code = editor.getSession().getValue();
				$.ajax({
		            type: "POST",
		            url: Routing.generate('EditorBundle_modifyFile', {"id": {{project.id}}, "file": "{{file}}"}),
		            data: "newdata="+code,
		            cache: false,
		            dataType : 'text',
		            success: function(data){
		                editor.getSession().setValue(data);
		            },
		            beforeSend: function(){
		            	editor.setReadOnly(true);  // false to make it editable
		            	//$('#ApplyTermsForm p').show();
		            	//$('#ApplyTermsForm div').hide();
		            },
		            complete: function(){
		            	editor.setReadOnly(false);  // false to make it editable
		            	alert("Sauvegarde effectuée")
		            	//$('#ApplyTermsForm p').hide();
		            	//$('#ApplyTermsForm div').show();
		            	//$('#ApplyTermsForm .modal-footer > button.btn').trigger('click');
		            }
	        	});
	        	return false;
			});
		});
	</script>
{% endblock %}

{% block right %}
	<!-- Partie appel de index2 dans iframe pour la création des projets -->
	<div class="sidebar">
		<div class="block_categories">
			<h6>Projects</h6>
			<iframe width="200px" src="{{path('EditorBundle_editorTree', {'id': project})}}" width="50%" height="50%" ></iframe>
		</div>
	</div>
{% endblock %}