{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} :: Mot de passe {% endblock %}

{% block titlebar_title %}Mot de passe{% endblock %}
{% block titlebar_ariane %}
    {{ parent() }} <a href="{{ path('fos_user_profile_show') }}">Profil</a> / <a href="{{ path('fos_user_profile_edit') }}">Modifier</a> / <span>Mot de passe</span>
{% endblock %}

{% block fos_user_content %}

<div class="block_contact_us_type_1">
    <div class="send_message">
        <h4>Modifier le mot de passe</h4>
        <p class="text_subtitle_1">Utiliser ce formulaire pour modifier votre mot de passe. L'ancien mot de passe est requis.</p>

            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

    </div>
</div>
{% endblock fos_user_content %}

{% block right %}
<div class="sidebar">
    <div class="separator" style="height:37px;"></div>
        <div class="block_categories">
            <h6>Ou alors !</h6>
            <ul class="list_5">
            	<li><a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Modifier mon profil</a></li>
         </ul>
    </div>
    <div class="clearboth"></div>
</div>
{% endblock %}