{% form_theme form theme %}
{{ form_errors(form) }}

<div class="form">
	<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" style="width: 400px;">
		
		{{ form_errors(form.current) }}
		    <p class="label">Mot de passe actuel : <span>(requis)</span></p>
		    <div class="field">{{ form_widget(form.current) }}</div>

		{{ form_errors(form.new.first) }}
		    <p class="label">Nouveau mot de passe : <span>(requis)</span></p>
		    <div class="field">{{ form_widget(form.new.first) }}</div>

		{{ form_errors(form.new.second) }}
		    <p class="label">Confirmation : <span>(requis)</span></p>
		    <div class="field">{{ form_widget(form.new.second) }}</div>
	    
	    <div class="separator" style="height:20px;"></div>

	    {{ form_rest(form) }}
	    
	    <div class="button">
			<input type="submit" class="general_button" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}">
		</div>
	</form>
</div>