{% extends "::layout.html.twig" %}
{% block title %}{{ parent() }} :: contrat et conditions{% endblock %}
{% block titlebar_title %}Contrat &amp; conditions{% endblock %}
{% block titlebar_ariane %}
	{{parent()}} 
	<a href="{{ path('my_projects') }}">Projets</a> / 
	<a href="{{ path('show_project', {'id': project.id, 'url': project.url}) }}">{{project.name|title}}</a> / <span>Contrat &amp; conditions</span>
{% endblock %}
{% block slider %}{% endblock %}
{% block content_type %}{{parent()}}{% endblock%}


{% block content %}
<div class="block_blog_post_type_1">
		<div class="content">
			<h3 class="heading_w_icon">Conditions</h3>
					<div class="line_1" style="margin:0px 0px 19px;"></div>
			<p>
				<div class="block_accordeon_type_1">
					<div class="button_outer first">
						<div class="button_inner">Niveau d'étude minimum : Bac + <span id="pbStudies">{{project.applyTerms.pbStudies}}</span></div></div>
					<div class="accordeon_content">
						<p>Le niveau d'étude minimum permet d'adapter la difficulté de chaque projet à chaque développeur et ainsi éviter les abandons en cours de projet.</p>
					</div>
					
					<div class="button_outer"><div class="button_inner">Diplôme requis : <span id="firstDiploma">{{project.applyTerms.firstDiploma}}</span></div></div>
					<div class="accordeon_content" style="display: none;">
						<p>Le diplôme permet de cibler les connaissance et les capacités des développeurs. Certains seront spécialisé dans un domaine qui ne se prêtera pas forcément à tel ou tel projet.

						{% if project.applyTerms.secondDiploma != '' %}
							<h6>Autre diplôme valable : {{ project.applyTerms.secondDiploma }}</h6>
						{% endif %}
						</p>
					</div>
					
					<div class="button_outer"><div class="button_inner">Spécialisation requise : <span id="specialization">{{project.applyTerms.specialization}}</span></div></div>
					<div class="accordeon_content" style="display: none;">
						<p>Tout comme le diplôme, la spécialité d'un cursus permet d'obtenir des connaissances pointues dans un domaine en particulier qui peu (ou non) se prêter à un projet ou à une tâche d'un projet en particulier.</p>
					</div>

					<div class="button_outer"><div class="button_inner">Expérience professionnelle requise : <span id="numberWorkedYears">{{project.applyTerms.numberWorkedYears}}</span> année(s)</div></div>
					<div class="accordeon_content" style="display: none;">
						<p>Certains projet nécessite des personnes ayant déjà travaillé avec une technologie ou avec un outil en particulier. Ces expériences professionnelles peuvent apporter maîtrise et gain de temps au projet.</p>
					</div>

					<div class="button_outer"><div class="button_inner">Temps de travail hebdomadaire : <span id="hoursPerWeek">{{project.applyTerms.hoursPerWeek}}</span> heure(s)</div></div>
					<div class="accordeon_content" style="display: none;">
						<p>Le bénéficiaire du projet annonce une approximation du temps que vous devrez consacrer au projet si vous le rejoingnez. En postulant au projet, vous vous engagez à être disponible pendant cette durée hebdomadaire.</p>
					</div>

					<div class="button_outer"><div class="button_inner">Contrat parallèle autorisé : <span id="paralleleContract">{% if project.applyTerms.paralleleContract == 1 %}oui {% else %} non {% endif %}</span></div></div>
					<div class="accordeon_content" style="display: none;">
						<p>En tant qu'employeur temporaire, le bénéficiaire du projet peut ou non décider de si vous avez le droit d'être engagé ailleurs, c'est-à-dire qu'il peut vouloir votre exclusivité durant le développement du projet.</p>
					</div>
				</div>
			</p>

			<div class="separator" style="height:30px;"></div>

			<h3 class="heading_w_icon">Contrat</h3>
			<div class="line_1" style="margin:0px 0px 19px;"></div>

			<p>Merci de lire attentivement le présent contrat afin d'en saisir tous les enjeux ainsi que de comprendre en quoi consiste vos engagements.</p>

			<iframe src="http://www.emploi.gouv.fr/_pdf/fiche_contrat_professionnalisation.pdf?id=850#toolbar=0" frameborder="0" width="100%" height="350">
				<p>Votre navigateur ne supporte pas les iframes</p>
			</iframe>
			<p><a href="http://www.emploi.gouv.fr/_pdf/fiche_contrat_professionnalisation.pdf">Afficher le contrat</a></p>
		</div>

		<div class="separator" style="height:30px;"></div>
		<h3 class="heading_w_icon">Motivations</h3>
		<div class="line_1" style="margin:0px 0px 19px;"></div>

		<form method="post" action="{{path('project_contract', {'id': project.id, 'url': project.url})}}">
			<div class="oh">
				<div class="block_contact_us_type_1">

			    	<div class="send_message">
						<div class="form" style="width: 80%;">

							<div class="textarea">
								<textarea cols="50" rows="20" name="motivations" placeHolder="Présentez-vous brièvement et expliquer votre intérêt et vos motivation pour rejoindre ce projet." /></textarea>
							</div>

							<p class="label">
								<label for="contract_accpt">J'accepte les conditions et le contrat pour postuler</label>
							</p>
							<div class="field" style="border: none;">
								<input type="checkbox" name="contract_accpt" id="contract_accpt" required="required"/>
							</div>

							<div class="separator" style="height:20px;"></div>
							<a href="this.form.submit();" class="general_button small"><span>Postuler à ce projet</span></a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
			$('.block_accordeon_type_1').tabs('.block_accordeon_type_1 div.accordeon_content', {
										tabs : '.button_outer',
										effect : 'slide',
										currentClose: false,
										initialIndex : 0
			});
</script>
{% endblock %}

{% block right %}
<div class="sidebar">
	<div class="separator" style="height:37px;"></div>
	{% include "MakinMindProjectBundle:Project:sidebar_owner_project.html.twig" with {'project' : project} %}
</div>
{% endblock %}